body{
    font-family: 'Open Sans', sans-serif;
}

#contador{
    color: #008000;
}

.header-container{
    background-color: #1dc7f1;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    height: 85px;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
}

.inputTwitter {
    resize: none;
    width: 35%;
    border-radius: 15px;
    outline: none;    
    font-size: 18px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  
}

.botaoEnviar{
    background: #1dc7f1;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

p{
    display: flex;
    flex-wrap: flex;
}

.txtAreaTweet{
width: 30%;
resize: none;
height: 85px;
margin-left: 175px;
margin-top: 45px;
border-radius: 15px;
font-size: 18px;

}