body{
    font-family: 'Open Sans', sans-serif;
    background: #c0deed
}

.contador{
    color: #008000;
}
.header-container{
    background-color: #1dc7f1;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    height: 85px;
    width: 100%;
    align-items: center;
    margin-bottom: 45px;
}

.inputTwitter {
    resize: none;
    width: 35%;
    border-radius: 15px;
    outline: none;    
    font-size: 18px;
}

.msg{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.botaoEnviar{
    background: #1dc7f1;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.txtAreaTweet{
width: 35%;
resize: none;
height: 115px;
display: flex;
align-self: center;
margin-left: 440px;
margin-top: 45px;
border-radius: 15px;
font-size: 18px;
}